@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@100;300&family=Salsa&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  background: linear-gradient(to bottom right, #000, #2c3e50, white);
  background-size: 115% 140% ; /* Double the size to cover the entire element */
  animation: moveBackground 1.5s linear infinite  alternate;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  height: auto;
}
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}
#app {
  font-family: 'Lobster', sans-serif;
  font-family: 'Londrina Solid', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Salsa', cursive;
  text-align: center;
  color: #fff;
  flex: 1;
  /* height: auto; */
  
}
.container {
  transition: padding-left 0.5s;
}
.content {
  transition: margin-left 0.6s ease; /* Add transition for smooth animation */
  margin-bottom: 5rem;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

@media screen and (max-width: 768px) {
  .about-container {
    margin: 1rem; /* Remove margin-left for screens smaller than 700px */
    height: auto;
    margin-bottom: 200px;
  }
}
.about-me {
  margin-top: 3rem;
  font-size: 2rem;
}

.logo {
  font-size: 250%;
  color: transparent; /* Transparent text */
  background: linear-gradient(to right, white, gold, black); /* Color gradient */
  -webkit-background-clip: text; /* Clip text to the background */
}
.containerLogo{
  height: 5rem;
}

.sidenav {
  height: 100vh;
  width: 200px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0; /* Always visible on bigger screens */
  background: linear-gradient(to bottom right, #ffffff, #000000);
  padding-top: 5px;
}

.sidenav a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: all 0.3s ease-in-out;
}

.sidenav a:hover {
  color: gold;
  font-size: 2rem;
  transform: translateX(40px);
  transform: translateY(-10px);
}

.toggle-btn {
  display: none;
  font-weight: 900;
  position: fixed;
  top: 10;
  left:10;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .sidenav {
    left: -200px; /* Initially hidden for small screens */
    transition: left 0.5s; /* Add transition for toggle effect */
  }

  .toggle-btn {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
  }

  .sidenav {
    width: 150px;
    z-index: 100;
    top: 0;
    overflow-y: auto;
  }

  .sidenav.active {
    left: 0; /* Slide in when active for small screens */
  }
  .sidenav.active + .content {
    margin-left: 150px; /* Apply margin to .content when .sidenav has active class */
  }
  .sidenav.active + .text-content {
    font-size: 10px;
  }
  .sidenav.active + .about-container {
    margin-left: 200px; /* Apply margin to .about-container when .sidenav has active class */
    transition: margin-left 0.5s; /* Add transition for smooth animation */
  }
  .content {
    margin-top: 20px; /*Add padding for spacing */
 }
}

/* p{
  color: black;
} */



