/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@100;300&family=Salsa&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  /* background-color: #222831; */
  height: auto;
  font-family: "Salsa", cursive;

}

#app {
  background-color: #222831;
  font-family: "Salsa", cursive;

  font-family: 'Lobster', sans-serif;
  font-family: 'Londrina Solid', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Salsa', cursive;
  text-align: center;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.content, .page-container {
  height: 100vh; /* Ensure each page/view fits the screen */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

.home-view-container {
  height: 100vh;
  overflow: hidden;
}


/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #eeeeee; /* Light background when scrolled */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow when scrolled */
}

.navbar-nav .nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

.navbar.scrolled .nav-link {
  color: #222831 !important; /* Dark color for nav links when scrolled */
}

.navbar-toggler {
  border: none;
  color: white;
}

.navbar.scrolled .navbar-toggler {
  color: #222831;
}

/* Ensure the navbar toggle button is aligned to the left */
@media (max-width: 992px) {
  .navbar-toggler {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    font-size: 24px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .collapse.show {
    background-color: #eeeeee; /* Ensure background is consistent when expanded */
    position: absolute;
    width: 100%; /* Full width on mobile when expanded */
    top: 50px;
    left: 0;
    padding: 1rem;
  }
}




