@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@100;300&family=Salsa&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  background: linear-gradient(to bottom right, #ffd700, #000000);
  background-size: 400% 200%; /* Double the size to cover the entire element */
  animation: moveBackground 2s linear infinite alternate;
  overflow-x: hidden; /* Prevent horizontal scrolling */

}
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
#app {
  font-family: 'Lobster', sans-serif;
  font-family: 'Londrina Solid', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Salsa', cursive;
  text-align: center;
  color: #fff;
  flex: 1;
  
}
.container {
  transition: padding-left 0.5s;
}

.main {
  min-height: calc(100vh - 100px); /* Adjust the value accordingly */
}



.footerRow {
  background-color: grey;
  font-size: 1.5rem;
  font-family: "Lobster", sans-serif;
  font-family: "Londrina Solid", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Salsa", cursive;
  color: #2c3e50;

}